/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Cormorant;
  src: url(../type/Cormorant-VariableFont_wght.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Cormorant-Italic;
  src: url(../type/Cormorant-Italic-VariableFont_wght.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Qwitcher Grypen;
  src: url(../type/QwitcherGrypen-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: "Comic Relief", system-ui;
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
}

h1 {
  font-family: Qwitcher Grypen;
  font-size: 10em;

}
